{% extends 'base.html.twig' %}

{% block title %}Crear categoria{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1>Crear categoria</h1>
    <a href="{{ path('app_category_index') }}">Regresar</a>
    {{ include('category/_form.html.twig') }}
</div>
{% endblock %}
